
@{
    Layout = "~/Content/dodmond/_layout.cshtml";
}

<form class="margem-superior" id="cad-pj" action="/PessoaJuridica/Editar" method="post">
    <div class="form-group">

        <div class="coluna1">

            <input id="id" name="pessoa.ID" value=@ViewBag.Pessoa.ID class="form-control" style="display:none;" />

            <label for="nome">Nome:</label>
            <input id="nome" name="pessoa.Nome" class="form-control tamanho-input" value="@ViewBag.Pessoa.Nome" />
            @Html.ValidationMessage("pessoa.Nome")
            <br />
            <label for="cnpj">CNPJ:</label>
            <input id="cnpj" name="pessoa.CNPJ" class="form-control tamanho-input" value="@ViewBag.Pessoa.CNPJ" />
            @Html.ValidationMessage("pessoa.CNPJ")
            <br />
            <label for="sexo">Sexo:</label>
            <select id="sexo" name="pessoa.Sexo" class="form-control tamanho-input" selected="@ViewBag.Pessoa.Sexo">
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
            <br />
            <label for="preco">Preco:</label>
            <input id="preco" name="pessoa.Preco" class="form-control tamanho-input" type="number" min="0" value="@ViewBag.Pessoa.Preco" />
            @Html.ValidationMessage("pessoa.Preco")
            <br />
        </div>

        <div class="coluna2">
            <label for="rua">Rua:</label>
            <input id="rua" name="pessoa.Rua" class="form-control tamanho-input" value="@ViewBag.Pessoa.Rua"/>
            <br />
            <label for="bairro">Bairro:</label>
            <input id="bairro" name="pessoa.Bairro" class="form-control tamanho-input" value="@ViewBag.Pessoa.Bairro"/>
            <br />
            <label for="numeroLogradouro">Numero Logradouro:</label>
            <input id="numeroLogradouro" name="pessoa.NumeroLogradouro" class="form-control tamanho-input" type="number" min="0" value="@ViewBag.Pessoa.NumeroLogradouro"/>
            <br />
            <label for="complemento">Complemento:</label>
            <input id="complemento" name="pessoa.Complemento" class="form-control tamanho-input" value="@ViewBag.Pessoa.Complemento"/>
            <br />
        </div>

    </div>
    <input type="submit" id="salvar-pj" class="form-control center-block ajustar-botao btn-primary" />
</form>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-pessoaJuridica/main.js"></script>