@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Content/dodmond/_layout.cshtml";
}

<table class="table cinza">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Rua</th>
            <th>Bairro</th>
            <th>Numero logradouro</th>
            <th>Complemento</th>
            <th>CNPJ</th>
            <th>Preco</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pessoa in ViewBag.PessoaJuridica)
        {
            <tr>
                <td class="id">@pessoa.ID</td>
                <td class="nome">@pessoa.Nome</td>
                <td class="rua">@pessoa.Rua</td>
                <td class="bairro">@pessoa.Bairro</td>
                <td class="numeroLogradouro">@pessoa.NumeroLogradouro</td>
                <td class="complemento">@pessoa.Complemento</td>
                <td class="cnpj">@pessoa.CNPJ</td>
                <td class="preco">@pessoa.Preco</td>
                <td><a class="botao-remover" href="#">D</a></td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-pessoaJuridica/main.js"></script>

