@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Content/dodmond/_layout.cshtml";
}


<form class="margem-superior" id="cad-produto" action="/Produto/Adiciona" method="post">
    <div class="form-group">
        <div class="coluna1">
            <label for="nome">Nome:</label>
            <input id="nome" name="produto.Nome" class="form-control tamanho-input" value="@ViewBag.Produto.Nome"/>
            @Html.ValidationMessage("produto.Nome")
            <br />
            <label for="categoria">Categoria:</label>
            <select id="categoria" name="produto.CategoriaID" class="form-control tamanho-input">
                @foreach (var categoria in ViewBag.Categoria)
                {
                    <option value="@categoria.ID">@categoria.Nome</option>
                }
            </select>
            <br />
            <label for="fornecedor">Fornecedor:</label>
            <select id="fornecedor" name="produto.FornecedorID" class="form-control tamanho-input">
                @foreach (var fornecedor in ViewBag.Fornecedor)
                {
                    <option value="@fornecedor.ID">@fornecedor.Nome</option>
                }
            </select>
            <br />
        </div>

        <div class="coluna2">
            <label for="preco">Preço:</label>
            <input id="preco" name="produto.Preco" class="form-control tamanho-input" type="number" min="1" value="@ViewBag.Produto.Preco"/>
            @Html.ValidationMessage("produto.Preco")
            <br />
            
            
            <input id="pontos" style="display:none;" name="produto.Pontos" class="form-control tamanho-input" type="number" min="0" value="@ViewBag.Produto.Pontos"/>

            <br />
            <label for="quantidade">Quantidade:</label>
            <input id="quantidade" name="produto.Quantidade" class="form-control tamanho-input" type="number" min="1" value="@ViewBag.Produto.Quantidade"/>
            @Html.ValidationMessage("produto.Quantidade")
            <br />
            <label for="unidade">Unidade:</label>
            <input id="unidade" name="produto.Unidade" class="form-control tamanho-input" value="@ViewBag.Produto.Unidade"/>
            @Html.ValidationMessage("produto.Unidade")
            <br />
            <label for="estoque">Quantidade máxima do estoque:</label>
            <input id="estoque" name="produto.Estoque" class="form-control tamanho-input" type="number" min="1" value="@ViewBag.Produto.Estoque"/>
            @Html.ValidationMessage("produto.Estoque")
            @Html.ValidationMessage("EstoqueQuantidadeInvalido")
            <br />
        </div>

    </div>
    <input type="submit" id="salvar-produto" class="form-control center-block ajustar-botao btn-success" />
</form>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-produto/main.js"></script>