
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Content/dodmond/_layout.cshtml";
}

<table class="table cinza">
    <thead>
        <tr>
            <th style="display:none;">Id</th>
            <th>Nome</th>
            <th>Rua</th>
            <th>Bairro</th>
            <th>Numero logradouro</th>
            <th>Complemento</th>
            <th>CPF</th>
            <th>Sexo</th>
            <th>Data nascimento</th>
            <th>Tipo de usúario</th>
            <th>Pontos</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pessoa in ViewBag.PessoaFisica)
        {
            <tr>
                <td class="id" style="display:none;">@pessoa.ID</td>
                <td class="nome">@pessoa.Nome</td>
                <td class="rua">@pessoa.Rua</td>
                <td class="bairro">@pessoa.Bairro</td>
                <td class="numeroLogradouro">@pessoa.NumeroLogradouro</td>
                <td class="complemento">@pessoa.Complemento</td>
                <td class="cpf">@pessoa.CPF</td>
                <td class="sexo">@pessoa.Sexo</td>
                <td class="dataNascimento">@pessoa.DataNascimento</td>
                <td class="tipo">@pessoa.TipoID</td>
                <td class="pontos">@pessoa.Pontos</td>
                <td><a class="botao-editar fa fa-edit" href="http://localhost:62680/PessoaFisica/Edita?id=@pessoa.ID"></a></td>
                <td><a class="botao-remover fa fa-close" href="#"></a></td>
                
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-pessoaFisica/main.js"></script>
    