
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Rua</th>
                    <th>Bairro</th>
                    <th>Numero logradouro</th>
                    <th>Complemento</th>
                    <th>CPF</th>
                    <th>Sexo</th>
                    <th>Data nascimento</th>
                    <th>Tipo de usúario</th>
                    <th>Pontos</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pessoa in ViewBag.PessoaFisica)
                {
                    <tr>
                        <td>@pessoa.ID</td>
                        <td>@pessoa.Nome</td>
                        <td>@pessoa.Rua</td>
                        <td>@pessoa.Bairro</td>
                        <td>@pessoa.NumeroLogradouro</td>
                        <td>@pessoa.Complemento</td>
                        <td>@pessoa.CPF</td>
                        <td>@pessoa.Sexo</td>
                        <td>@pessoa.DataNascimento</td>
                        <td>@pessoa.Tipo</td>
                        <td>@pessoa.Pontos</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
