
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Rua</th>
            <th>Bairro</th>
            <th>Numero logradouro</th>
            <th>Complemento</th>
            <th>CPF</th>
            <th>Sexo</th>
            <th>Data nascimento</th>
            <th>Tipo de usúario</th>
            <th>Pontos</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pessoa in ViewBag.PessoaFisica)
        {
            <tr>
                <td class="id">@pessoa.ID</td>
                <td class="nome">@pessoa.Nome</td>
                <td class="rua">@pessoa.Rua</td>
                <td class="bairro">@pessoa.Bairro</td>
                <td class="numeroLogradouro">@pessoa.NumeroLogradouro</td>
                <td class="complemento">@pessoa.Complemento</td>
                <td class="cpf">@pessoa.CPF</td>
                <td class="sexo">@pessoa.Sexo</td>
                <td class="dataNascimento">@pessoa.DataNascimento</td>
                <td class="tipo">@pessoa.TipoID</td>
                <td class="pontos">@pessoa.Pontos</td>
                <td><a class="botao-remover" href="#">D</a></td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-pessoaFisica/main.js"></script>
    