
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Content/dodmond/_layout.cshtml";
}

<table class="table cinza">
    <thead>
        <tr>
            <th>Id</th>
            <th>Preço total</th>
            <th>Quantidade</th>
            <th>Data</th>
            <th>Colaborador</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var venda in ViewBag.Venda)
        {
            <tr>
                <td class="id">@venda.ID</td>
                <td class="precoTotal">@venda.PrecoTotal</td>
                <td class="quantidade">@venda.Quantidade</td>
                <td class="data">@venda.Data</td>
                <td class="colaborador">@venda.ColaboradorID</td>
                <td><a class="botao-remover" href="#">D</a></td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-venda/main.js"></script>

