
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Produtos</th>
                    <th>Preço unitário</th>
                    <th>Preço total</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var venda in ViewBag.Venda)
                {
                    <tr>
                        <td>@venda.ID</td>
                        <td>@venda.Nome</td>
                        <td>@venda.PrecoUnitario</td>
                        <td>@venda.PrecoTotal</td>
                        <td>@venda.Quantidade</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
