@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Content/dodmond/_layout.cshtml";
}

<table class="table cinza">
    <thead>
        <tr>
            <th>Produto</th>
            <th>PreçoUnitario</th>
            <th>Quantidade</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<br />

<form>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label for="select-produtos">Produtos:</label>
                <select id="select-produtos" class="form-control">
                    @foreach (var produto in ViewBag.Produto)
                    {
                        <option value=@produto.ID>@produto.Nome</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <label for="precoUnitario">Preço unitário:</label>
                <select id="precoUnitario" name="precoUnitario" class="form-control" disabled>
                    @foreach (var produto in ViewBag.Produto)
                    {
                        <option value="@produto.ID">@produto.Preco</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <label for="quantidade">Quantidade:</label>
                <input id="quantidade" name="quantidade" class="form-control" />
            </div>
            <span class="erro" style="display:none;">Preencha os campos de preço e quantidade!</span>

            <div class="col-md-3">
                <input type="submit" id="enviar-carrinho" value="Enviar pro carrinho" class="form-control botao-carrinho" />
            </div>
        </div>
    </div>

    

    <br />
    <br />

    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <label for="precoTotal">Preço total:</label>
                <input id="precoTotal" name="venda.PrecoTotal" disabled class="form-control" />
                @Html.ValidationMessage("venda.PrecoTotal")
            </div>
            <div class="col-md-2">
                <label for="quantidadeTotal">Items total:</label>
                <input id="quantidadeTotal" name="venda.Quantidade" disabled class="form-control" />
                @Html.ValidationMessage("venda.Quantidade")
            </div>

            <div class="col-md-2">
                <label for="pontosTotal">Pontos total:</label>
                <input id="pontosTotal" name="pontosTotal" disabled class="form-control" />
                @Html.ValidationMessage("venda.Quantidade")
            </div>

            <div class="col-md-4">
                <label for="colaborador">Vendedor:</label>
                <input id="colaborador" name="colaborador" disabled class="form-control" value="@ViewBag.Colaborador.Nome" />
            </div>

            <div class="col-md-3">
                <label for="cliente">Cliente:</label>
                <input id="cliente" name="cliente" disabled class="form-control" value="" />
            </div>

            <div class="col-md-2">
                <label for="pontos">Pontos:</label>
                <input id="pontos" name="pontos" disabled class="form-control" value="@ViewBag.Colaborador.Pontos" />
            </div>

        </div>
    </div>
    <input type="submit" id="finalizar-compra" value="Finalizar compra" class="form-control" />

</form>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Meus scripts/Scripts-venda/main.js"></script>